.covid_img {
  width: 60%;
  margin-top: 100px;
}

.covid_page {
  text-align: center;
  background-color: #7952b3;
}

.information {
  padding-top: 115px;
  padding-bottom: 100px;
  padding-right: 60px;
  color:white;
}

.middle_container {
  text-align: center;
  padding: 60px 25px;
}

.bottom_container {
  text-align: center;
  background: #7952b3;
  color: white;
  padding: 50px 100px;
}

.tracker {
  text-decoration: none;
  color: orange;
}

.heading {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 49px;
}

.down_container {
  text-align: center;
  padding: 30px 20px;
  color: #778899;
}
